<h2 class="h2">Tarefas:</h2>

<app-task-search></app-task-search>

<table class="table text-center">
    <thead>
        <tr>
            <th class="col-1">Número</th>
            <th class="col">Título</th>
            <th class="col">Responsável</th>
            <th class="col-2">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <th>
                <span>{{task.id}}</span>
            </th>
            <th>
                <span routerLink="/detalhe/{{task.id}}" class="lead task-title">{{task.title}}</span>
            </th>
            <th>
                <span class="lead">{{task.responsable}}</span>
            </th>
            <th>
                <a href="#" class="link-dark" routerLink="/detalhe/{{task.id}}">Editar</a><span> | </span>
                <a href="#" class="link-dark" (click)="delete(task)">Excluir</a><span> | </span>
                <a href="#" class="link-dark" >Concluir</a>
            </th>
        </tr>
    </tbody>
</table>

<div>
    <label for="new-task">Tarefa: </label>
    <input id="new-task" #taskTitle />
  
    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="btn btn-success" (click)="add(taskTitle.value); taskTitle.value=''">
      Adicionar tarefa
    </button>
  </div>