<div class="task">
    <div class="row">
        <label class="col-2 text-end" for="task-title">Título: </label>
        <input class="col" id="task-title" #taskTitle placeholder="Título">
    </div>
    <div class="row">
        <label class="col-2 text-end" for="task-description">Descrição: </label>
        <textarea class="col" id="task-description" #taskDescription placeholder="Descrição"></textarea>
    </div>
    <div class="row">
        <label class="col-2 text-end" for="task-responsable">Responsável: </label>
        <input class="col-4" id="task-responsable" #taskResponsable placeholder="Responsável">
        <label class="col-2 text-end" for="task-priority">Prioridade: </label>
        <select class="col-4" id="task-priority" #taskPriority placeholder="Prioridade">
            <option *ngFor="let priority of priorities" [value]="priority">{{priority}}</option>
        </select>
    </div>
    <div class="row">
        <label class="col-2 text-end" for="task-deadline">Deadline: </label>
        <input class="col-4" id="task-deadline" #taskDeadline type="date">
        <label class="col-2 text-end" for="task-deadline">Status: </label>
        <select class="col-4" id="task-deadline" #taskStatus placeholder="Status">
            <option *ngFor="let statu of status" [value]="statu">{{statu}}</option>
        </select>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary col-4 save-btn" (click)="add(
            taskTitle.value,
            taskDescription.value,
            taskResponsable.value,
            taskPriority.value,
            taskDeadline.value,
            taskStatus.value
        );
        taskTitle.value=''; 
        taskDescription.value='';
        taskResponsable.value='';
        taskPriority.value='';
        taskDeadline.value='';
        taskStatus.value='';">Criar</button>
    </div>
    <button class="btn btn-primary" routerLink="/tarefas">Voltar</button>
</div>
