<div>
  <div class="row">
    <label for="search-box" class="col-2 text-end">Procurar tarefas</label>
    <input #searchBox id="search-box" class="col" (input)="search(searchBox.value)" placeholder="Insira o título da tarefa" />
  </div>
  <div class="row">
    <ul class="search-result list-group col-10">
      <li class="list-group-item" *ngFor="let task of tasks$ | async" >
        <a class="link-dark" routerLink="/detalhe/{{task.id}}">
          {{task.title}}
        </a>
      </li>
    </ul>
  </div>
</div>