<div *ngIf="task">
    <h2 class="h2">{{task.title}}</h2>
    <div><span>ID: </span>{{task.id}}</div>
    <div>
        <label for="task-title">Título: </label>
        <input id="task-title" [(ngModel)]="task.title" placeholder="Título">
    </div>
    <div>
        <label for="task-title">Título da tarefa: </label>
        <input id="task-title" [(ngModel)]="task.title" placeholder="Título">
    </div>
    <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
    <button type="button" class="btn btn-primary" (click)="goBack()">Voltar</button>
</div>